footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu-init {
    background-color: white;
    height: 2.5rem;
    border: 1px solid rgba(29, 29, 29, 0.363);

    display: flex;
    justify-content: stretch;
}

.init-icon {
    height: 100%;
    margin-top: -2px;
    margin-left: -2px;
    border: 2px solid rgb(29, 29, 29);
    box-shadow: inset -4px -4px #adafbc;
    cursor: pointer;

    display: flex;
    gap: 5px;
}

.init-icon > p {
    padding: 2px;
}

.init-icon:hover {
    background-color: rgb(213, 213, 255);
    box-shadow: inset -7px -7px #adafbc;
}

.divisor {
    border: 1px solid rgb(29, 29, 29);
    margin: 0.5rem;
}

.init-icon > img {
    padding: 3px;
}

.init-icon > p {
    margin-top: 7px;
    margin-right: 8px;
}

.linkedin-icon > img {
    width: 30px;
    height: 30px;
}

.github-icon > img {
    width: 34px;
    height: 31px;
}

.linkedin-icon {
    margin: 5px;
}

.github-icon {
    margin: 4px;
}

.init-decodif {
    width: 150px;
    padding: 8px;
    text-align: center;
    border: 1px solid rgba(29, 29, 29, 0.363);
    box-shadow: inset 1px 1px #adafbc;
    display: flex;
}

.init-decodif > p {
    margin-left: 30px;
    margin-top: 2px;
}

.init-datetime {
    border: 2px solid rgba(63, 63, 63, 0.548);
    width: 110px;
    margin-left: auto;
    margin-top: -2px;
}

.init-datetime > p {
    text-align: center;
}

.init-copyright {
    color: #a0a0a7;
    margin-top: 0.6rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.init-copyright > p {
    color: #a0a0a7;
}

span {
    content: '\\00A9';
}