@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --blue-color: rgb(49, 49, 124);
}

* {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/* body {
    background-image: url(../assets/img/background.jpg);
} */

.global-icon {
    background-color: var(--blue-color);
    margin: 3px;
    width: 18px;
    height: 18px;
    position: absolute;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.fa-x {
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    margin: 2px;
    padding-left: 3.6px;
    padding-right: 3px;
}

.fa-square {
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    margin: 2px;
    padding-left: 3px;
    padding-right: 3.3px;
}

.minimizar {
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    margin: 2px;
    padding-left: 3px;
    padding-right: 3px;
}
