@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --blue-color: rgb(49, 49, 124);
}

* {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/img/background.jpg);
    overflow: hidden;
}

.global-icon {
    background-color: var(--blue-color);
    margin: 3px;
    width: 18px;
    height: 18px;
    position: absolute;
}

.icons {
    display: flex;
}

.fa-x {
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.fa-x:hover {
    cursor: pointer;
    color: white;
    background-color: red;
}

.fa-square {
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    margin: 2px;
    padding-left: 3px;
    padding-right: 3.3px;
}
.fa-square:hover {
    cursor: pointer;
    background-color: rgba(49, 49, 124, 0.151);
}

.minimizar {
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.minimizar:hover {
    cursor: pointer;
    background-color: rgba(49, 49, 124, 0.151);
}
