
header {
    border: 2px solid var(--blue-color);
    box-shadow: -6px 6px 10px -1px rgba(0,0,0,0.75);
    background-color: white;
    width: 75%;
    height: 500px;
    position: absolute;

    margin-left: 7%;
}

.title-icon {
    padding: 20px;
}

.title {
    border: 2px solid var(--blue-color);
    margin: 4px;

    display: flex;
    justify-content: space-between;
}

.title > h2 {
    margin-left: 30px;
}

.menu-title {
    border: 2px solid var(--blue-color);
    height: 25px;
    margin: 4px;
}

.menu-list {
    display: flex;
    gap: 2rem;
    margin-left: 5px;
    margin-top: 2px;
    list-style: none;
}

#list-selected {
    background-color: var(--blue-color);
    color: white;
    padding: 4px 9px;
    margin-top: -4px;
    margin-left: -5px;
}