.main-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    gap: 4rem;
    justify-content: center;

    position: relative;
    z-index: 1;
}  

.textarea-content {
    border: 2px solid var(--blue-color);
    box-shadow: -6px 6px 10px -1px rgba(0,0,0,0.75);
    background-color: white;
    width: 500px;
    height: 490px;
    margin: 4rem;
}

.textarea-title {
    border: 2px solid var(--blue-color);
    background-color: white;
    height: 25px;
    margin: 4px;

    display: flex;
    justify-content: space-between;
}

.textarea-title > h3 {
    margin-left: 30px;
}

.textarea-input {
    border: 2px solid var(--blue-color);
    margin: 4px;
}

#text-input {
    font-size: 20px;
    margin: 0.5rem;
    width: 430px;
    height: 290px;
    padding: 20px;
    border-style: dashed;
    outline: none;
    resize: none;
}

#text-input::placeholder {
    font-size: 20px;
}

.textarea-alert {
    display: flex;
    gap: 7px;
    margin-left: 10px;
    justify-content: center;
}


#caution {
    width: 20px;
}

.buttons-content {
    width: 488px;
    height: 70px;
    margin: 4px;

    display: flex;
    gap: 2rem;
    justify-content: center;
}


.buttons-content > button {
    border: 2px solid rgb(29, 29, 29);
    box-shadow: inset -4px -4px #adafbc;
    cursor: pointer;
    width: 160px;
    height: 50px;
    margin: 0.5rem;
    
    font-size: 17px;
}

#encrypt {
    background-color: var(--blue-color);
    color: white;
}

#encrypt:hover {
    background-color: rgb(22, 22, 78)
}

.buttons-content > button:hover {
    background-color: rgb(213, 213, 255);
    box-shadow: inset -6px -6px #adafbc;
}

/* OUTPUT CONTENT */

.output-text-content {
    border: 2px solid var(--blue-color);
    box-shadow: -6px 6px 10px -1px rgba(0,0,0,0.75);
    background-color: white;
    width: 500px;
    height: 490px;
    margin: 4rem;

    overflow: hidden;
}

.output-text {
    border: 2px solid var(--blue-color);
    margin: 4px;
    height: 395px;
    padding: 1.5rem;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    overflow-y: auto;
}

.output-img {
    width: 200px;
    margin-bottom: 2rem;
}

.output-text > h1 {
    margin-bottom: 2rem;
}

#result {
    font-size: 30px;
}

#output-copy {
    display: none;
}

.active {
    height: 36vh;
}
