/* RESPONSIVIDADE */

@media (min-width: 1920px) {
    .textarea-content {
        height: 55vh;
    }

    .output-text {
        height: 44.5vh;
    }

    .output-text-content {
        height: 55vh;
    }

    .active {
        height: 35vh;
    }

    #output-copy {
        margin-top: 1.5rem;
    }
}


@media (min-width: 1360px) and (max-width: 1600px) {
    .main-container {
        width: 90%;
        gap: 0.1rem;
    }

    /* TEXT AREA */

    .textarea-content {
        height: 65vh;
    }

    .textarea-input {
        height: 46vh;
    }

    #text-input {
        height: 36vh;
    }

    /* OUTPUT */

    .output-text-content {
        height: 65vh;
    }

    .output-text {
        height: 53vh;
    }

    .active {
        height: 43vh;
    }
    
    /* FOOTER */

}

/* Mobile */

@media (min-width: 375px) and (max-width: 412px) {
    .main-container {
        flex-direction: column;
    }

    .textarea-content {
        width: 360px;
        height: 500px;
        margin: 0.1rem;
    }

    #text-input {
        width: 290px;
    }
    
    .buttons-content {
        width: auto;
    }

    .output-text-content {
        width: 360px;
        height: 500px;
        margin: 0.1rem;
    }

    .active {
        height: 37vh;
    }

    footer {
        top: 4rem;
    }
}