/* RESPONSIVIDADE */

@media screen and (min-width: 1366px) {
    .main-container {
        width: 90%;
        margin-top: 20px;
        gap: 0.1rem;
    }

    /* TEXT AREA */

    .textarea-content {
        height: 70vh;
    }

    .textarea-input {
        height: 46vh;
    }

    #text-input {
        height: 36vh;
    }

    /* OUTPUT */

    .output-text-content {
        height: 70vh;
    }

    .output-text {
        height: 54vh;
    }

    .active {
        height: 43vh;
    }
    
    /* FOOTER */

    .menu-init {
        margin-top: 2rem;
    }
}

/* Mobile */

@media (max-width: 375px) {
    .main-container {
        flex-direction: column;
    }

    .textarea-content {
        width: 360px;
        height: 500px;
        margin: 0.1rem;
    }

    #text-input {
        width: 290px;
    }
    
    .buttons-content {
        width: auto;
    }

    .output-text-content {
        width: 360px;
        height: 500px;
        margin: 0.1rem;
    }

    .active {
        height: 37vh;
    }
}