/* RESPONSIVIDADE */

@media (max-width: 1366px) {
    .main-container {
        width: 90%;
        margin-top: 20px;
        gap: 0.1rem;
    }

    /* TEXT AREA */

    .textarea-content {
        height: 70vh;
    }

    .textarea-input {
        height: 46vh;
    }

    #text-input {
        height: 36vh;
    }

    /* OUTPUT */

    .output-text-content {
        height: 70vh;
    }

    .output-text {
        height: 54vh;
    }
    
    /* FOOTER */

    .menu-init {
        margin-top: 2rem;
    }
}